# Python Tutorial: Data Types, Data Structures and Object-Oriented Programming

## 1. Data types

### What Are Data Types? <br>
Data types define the kind of value a variable can hold in a programming language. In Python, every piece of data (like numbers, text or a collection of items) has a specific data type that tells Python how to process and store that data. <br>

Some examples: <br>
Text like "Python" is a `str` (string).<br>
An integer like 7 is an `int` datatype while a decimal like 7.7 is a `float`. <br>
A value like `True` or `False` is a `bool` (boolean).<br>
<br>

#### Dynamic Typing in Python
One of Python's strengths is dynamic typing, which means you donâ€™t need to declare the type of a variable explicitly like java or C++. Python automatically determines the type of a variable based on the value you assign to it.<br>
<br>
We can use the `type()` function to check the data type of a variable.

In [ ]:
# string
x = "python"

# here Python knows the variable 'x' is a string represented as str

type(x)

str

In [ ]:
# integer is represnted as 'int'

x = 2

type(x)

int

In [ ]:
# float is a decimal number, represnted as 'float'

x = 2.0

type(x)

float

In [ ]:
# bool is a binary variable that either takes True or False

x = True

type(x)

bool

### Type Conversion
Python provides two ways to perform type conversion: implicit type conversion and explicit type conversion (also known as casting). <br>
*Implicit Type Conversion* : <br> When you perform operations involving different data types, Python automatically converts smaller or simpler types to more complex or compatible ones to avoid data loss without requiring explicit instructions from the programmer. This is also known as type coercion.<br>
*Explicit Type Conversion* : <br> Explicit type conversion, or casting, involves manually converting one data type into another using Python's built-in functions. This gives the programmer more control but also requires caution to avoid data loss or errors.<br>
Common Casting Functions<br>
`int()`: Converts a value to an integer.<br>
`float()`: Converts a value to a float.<br>
`str()`: Converts a value to a string.<br>

In [ ]:
# Integer and float addition
num_int = 5      # Integer
num_float = 2.7   # Float

result = num_int + num_float  # Implicit conversion
print(result)
print(type(result))

7.7
<class 'float'>

In [ ]:
num_int = int(num_float)  # Explicit conversion
print(num_int)

2

Note that the explicit conversion in the last example just truncated the float 2.7 to 2, not rounded it, which can lead to potential data loss.

In [ ]:
print('3'+'4')
print(int('3')+int('4'))

34
7

Note that in the last cell, when 2 strings are added in python, they are simply concatenated while on explicitly converting them to int, we get the desired result. <br>
Explicit conversions are often needed when working with JSON data, to process strings, numbers and booleans.<br>
E.g. `{"age": "30", "is_member": "true"}`

---

# 2. Operators

#### Arithmatic Operators

| Operator | Description        | Example  | Result |
|----------|--------------------|----------|--------|
| `+`      | Addition           | `5 + 3`  | `8`    |
| `-`      | Subtraction        | `10 - 4` | `6`    |
| `*`      | Multiplication     | `2 * 6`  | `12`   |
| `/`      | Division           | `15 / 3` | `5.0`  |
| `//`     | Floor Division     | `15 // 4`| `3`    |
| `%`      | Modulus (Remainder)| `15 % 4` | `3`    |
| `**`     | Exponentiation     | `2 ** 3` | `8`    |

<br>

#### Relational Operators

| Operator | Description               | Example     | Result  |
|----------|---------------------------|-------------|---------|
| `==`     | Equal to                  | `5 == 5`    | `True`  |
| `!=`     | Not equal to              | `5 != 3`    | `True`  |
| `>`      | Greater than              | `7 > 3`     | `True`  |
| `<`      | Less than                 | `2 < 8`     | `True`  |
| `>=`     | Greater than or equal to  | `5 >= 5`    | `True`  |
| `<=`     | Less than or equal to     | `4 <= 6`    | `True`  |

<br>

#### Logical Operators

| Operator | Description                        | Example        | Result  |
|----------|------------------------------------|----------------|---------|
| `and`    | Logical AND (True if both are True)| `True and False`| `False` |
| `or`     | Logical OR (True if at least one is True)| `True or False` | `True`  |
| `not`    | Logical NOT (Inverts the truth value)| `not True`     | `False` |

<br>

#### Assignment Operators

| Operator | Description              | Example      | Result         |
|----------|--------------------------|--------------|----------------|
| `=`      | Assign                  | `x = 5`      | `x = 5`        |
| `+=`     | Add and assign          | `x += 3`     | `x = x + 3`    |
| `-=`     | Subtract and assign     | `x -= 2`     | `x = x - 2`    |
| `*=`     | Multiply and assign     | `x *= 4`     | `x = x * 4`    |
| `/=`     | Divide and assign       | `x /= 5`     | `x = x / 5`    |
| `//=`    | Floor divide and assign | `x //= 3`    | `x = x // 3`   |
| `%=`     | Modulus and assign      | `x %= 2`     | `x = x % 2`    |
| `**=`    | Exponentiate and assign | `x **= 3`    | `x = x ** 3`   |

<br>

#### Membership Operators

| Operator   | Description                  | Example            | Result  |
|------------|------------------------------|--------------------|---------|
| `in`       | Checks if an element is present | `'a' in 'apple'`   | `True`  |
| `not in`   | Checks if an element is absent  | `'z' not in 'apple'` | `True`  |


<br>

#### Identity Operators

| Operator   | Description                        | Example       | Result            |
|------------|------------------------------------|---------------|-------------------|
| `is`       | True if objects are the same       | `x is y`      | `True` or `False` |
| `is not`   | True if objects are not the same   | `x is not y`  | `True` or `False` |



---

## 3. Data Structures

Data structures are ways to organize and store data so that they can be accessed and worked with efficiently. Python offers several built-in data structures such as lists, tuples, sets and dictionaries. Each of these has unique properties and use cases. Let's cover them one by one.

**List:**
A list in Python is a data structure that allows you to store an ordered collection of items. These items can be of any data type (e.g., integers, strings, floats, or even other lists). <br>

Key Features:<br>
*Ordered*: Elements in a list maintain the order in which they are added.<br>
*Mutable*: Lists can be modified after creation â€” elements can be added, removed or changed.<br>
*Dynamic Size*: Python lists can grow or shrink dynamically without a fixed size limit.<br>
*Heterogeneous*: A single list can store elements of different types.<br>

In [ ]:
# Creating Lists: let 'countries' be a list
countries = ['india', 'nepal', 'italy', 'china', 'russia']
print(countries)

['india', 'nepal', 'italy', 'china', 'russia']

In [ ]:
# Creating using the list() Constructor
capitals = list(('new delhi', 'kathmandu', 'rome', 'beijing', 'moscow'))
print(capitals)

['new delhi', 'kathmandu', 'rome', 'beijing', 'moscow']

In [ ]:
characters = list('india')
print(characters)

['i', 'n', 'd', 'i', 'a']

In [ ]:
# Accessing elements
print(countries[0]) # by index
print(countries[-1]) # by negative index
print(countries[1:3]) # by slicing
print(countries[:3]) # by slicing
print(countries[1:]) # by slicing

india
russia
['nepal', 'italy']
['india', 'nepal', 'italy']
['nepal', 'italy', 'china', 'russia']

In [ ]:
# Using Loops to Access Elements (to be revisited after for loops)
# for loop
for country in countries:
  print(country)

india
nepal
italy
china
russia

In [ ]:

# enumerate
for index, country in enumerate(countries):
  print(index, country)

0 india
1 nepal
2 italy
3 china
4 russia

In [ ]:

# list comprehension
i_countries = [country for country in countries if country[0] == 'i'] # list of countries that begin with a
print(i_countries)

['india', 'italy']

In [ ]:

# zip
i_countries = [(country, capital) for country, capital in zip(countries, capitals) if country[0] == 'i']
print(i_countries)

[('india', 'new delhi'), ('italy', 'rome')]

In [ ]:
# Nested Lists
nested_list = [countries, capitals]
print(nested_list)
print(nested_list[1][2])

[['india', 'nepal', 'italy', 'china', 'russia'], ['new delhi', 'kathmandu', 'rome', 'beijing', 'moscow']]
rome

In [ ]:
# Appending a new object to the list
countries.append('usa')
print(countries)

['india', 'nepal', 'italy', 'china', 'russia', 'usa']

In [ ]:
# Extending iterables
countries.extend(['brazil', 'australia'])
print(countries)

['india', 'nepal', 'italy', 'china', 'russia', 'usa', 'brazil', 'australia']

In [ ]:
countries += ['france', 'egypt']
print(countries)

['india', 'nepal', 'italy', 'china', 'russia', 'usa', 'brazil', 'australia', 'france', 'egypt']

In [ ]:
# Insert element at a position
countries.insert(2, 'germany')
print(countries)

['india', 'nepal', 'germany', 'italy', 'china', 'russia', 'usa', 'brazil', 'australia', 'france', 'egypt']

In [ ]:
# Removing an element
countries.remove('usa')
print(countries)

['india', 'nepal', 'germany', 'italy', 'china', 'russia', 'brazil', 'australia', 'france', 'egypt']

In [ ]:
popped_item = countries.pop(1)  # Remove and return item at index 1
print(popped_item)
print(countries)

nepal
['india', 'germany', 'italy', 'china', 'russia', 'brazil', 'australia', 'france', 'egypt']

In [ ]:
# Finding elements
print(countries.index('germany'))
print(countries.index('malaysia')) #since malaysia isnt in the list, ValueError

1

ValueError: 'malaysia' is not in list

In [ ]:
try:
  print(countries.index('malaysia'))
except ValueError:
  print('malaysia is not in the list')

malaysia is not in the list

In [ ]:
countries.append('italy')
print(countries)
print(countries.count('italy'))

['india', 'germany', 'italy', 'china', 'russia', 'brazil', 'australia', 'france', 'egypt', 'italy']
2

In [ ]:
countries.remove('italy')
print(countries) # removes only first instance of 'italy'

['india', 'germany', 'china', 'russia', 'brazil', 'australia', 'france', 'egypt', 'italy']

In [ ]:
# Sorting lists
countries.sort()
print(countries)

['australia', 'brazil', 'china', 'egypt', 'france', 'germany', 'india', 'italy', 'russia']

In [ ]:
# Reversing a list
countries.reverse()
print(countries)

['russia', 'italy', 'india', 'germany', 'france', 'egypt', 'china', 'brazil', 'australia']

In [ ]:
print(countries[::-1])

['australia', 'brazil', 'china', 'egypt', 'france', 'germany', 'india', 'italy', 'russia']

In [ ]:
# Copying a list
countries_copy = countries # countries_copy is a reference to countries
countries_copy.append('malaysia')
print(countries) # updating countries_copy also makes changes to countries
print(countries_copy)

['russia', 'italy', 'india', 'germany', 'france', 'egypt', 'china', 'brazil', 'australia', 'malaysia']
['russia', 'italy', 'india', 'germany', 'france', 'egypt', 'china', 'brazil', 'australia', 'malaysia']

In [ ]:
countries_copy = countries.copy()
countries_copy.append('greece')
print(countries)
print(countries_copy)

['russia', 'italy', 'india', 'germany', 'france', 'egypt', 'china', 'brazil', 'australia', 'malaysia']
['russia', 'italy', 'india', 'germany', 'france', 'egypt', 'china', 'brazil', 'australia', 'malaysia', 'greece']

In [ ]:
# Clearing a list
countries.clear()
print(countries)

[]

**Tuples:**
A tuple is a collection of ordered, immutable items. Similar to lists, tuples can store elements of any data type, including integers, strings, floats, and other tuples. However, unlike lists, tuples cannot be modified after they are created. <br>

Key Features:<br>
*Ordered*<br>
*Immutable*: Once a tuple is created, its elements cannot be changed. This makes tuples useful in situations where you want to ensure that the data remains constant.<br>
*Heterogeneous*<br>
*Hashable*: Since tuples are immutable, they can be used as keys in dictionaries, unlike lists.

In [ ]:
# Creating tuples
countries = ('india', 'nepal', 'italy')
capitals = 'new delhi', 'kathmandu', 'rome'
print(countries, capitals)

('india', 'nepal', 'italy') ('new delhi', 'kathmandu', 'rome')

Other functions such as indexing, slicing and count are similar to lists. <br>
Since tuples are immutable, other functions such as remove, append etc that change the value of the tuple are not supported.

In [ ]:
# Concatenation
concat_tuple = countries + capitals
print(concat_tuple)

# Repetition
repeat_tuple = countries * 3
print(repeat_tuple)

# Tuple Unpacking
c1, c2, c3 = countries
print(c1)

('india', 'nepal', 'italy', 'new delhi', 'kathmandu', 'rome')
('india', 'nepal', 'italy', 'india', 'nepal', 'italy', 'india', 'nepal', 'italy')
india

Notes:<br>
1.   Tuples are ideal when you have data that should not change throughout the program, such as coordinates, fixed configurations, or records.
2.   Functions in Python can return multiple values as tuples. This allows you to return several related pieces of data from a function.
E.g. `return (latitude, longitude)`


**Sets:**
A set is an unordered collection of unique elements. Unlike lists or tuples, sets do not store duplicate values, and their order is not guaranteed. Sets are commonly used when you need to store distinct values and don't care about their order.<br>

Key Features:<br>
*Unordered*: Sets do not maintain the order of elements.<br>
*Unique Elements*: A set can only contain one instance of each element.<br>
*Mutable*: Sets are mutable, meaning you can add or remove elements after the set is created.<br>
*No Indexing*: Since sets are unordered, they do not support indexing, slicing or other sequence-like behavior.<br>

In [ ]:
# Creating Sets
countries = {'india', 'nepal', 'italy', 'india'}
print(countries)

{'italy', 'nepal', 'india'}

In [ ]:
# Using set() Constructor from a list
countries_list = ['india', 'nepal', 'italy', 'india']
countries = set(countries_list)
print(countries)

{'italy', 'nepal', 'india'}

In [ ]:
# Checking Membership
print('india' in countries)

True

In [ ]:
# Adding elements
countries.add('china')
print(countries)

{'italy', 'nepal', 'china', 'india'}

In [ ]:
# Removing Elements
countries.remove('nepal')
print(countries)

{'italy', 'china', 'india'}

In [ ]:
countries.discard('nepal')
print(countries) # doesn't raise a KeyError

{'italy', 'china', 'india'}

In [ ]:
# Length
print(len(countries))

3

In [ ]:
set1 = {1,2}
set2 = {2,3,4}

# Union
print("Union:", set1|set2) # same as set1.union(set2)

# Intersection
print("Intersection:", set1&set2) # same as set1.intersection(set2)

# Difference
print("Difference:", set1-set2) # same as set1.difference(set2)

# Symmetric Difference
print("Symmetric Difference:", set1^set2) # same as set1.symmetric_difference(set2)

Union: {1, 2, 3, 4}
Intersection: {2}
Difference: {1}
Symmetric Difference: {1, 3, 4}

In [ ]:
set3 = {1,2,3,4}
set4 = {3,4}

# Subset and Superset
print("Subset:", set1.issubset(set3))
print("Superset:", set3.issuperset(set1))

# Disjoint set
print("Disjoint:", set1.isdisjoint(set4))

Subset: True
Superset: True
Disjoint: True

In [ ]:
# Update
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Intersection Update
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.intersection_update(set2)
print(set1)

{3, 4}

In [ ]:
# Difference Update
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.difference_update(set2)
print(set1)

{1, 2}

In [ ]:
# Symmetric Difference Update
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 5, 6}

Notes<br>
1.   Sets are commonly used to remove duplicates from a list or other iterable.
2.   Sets allow for fast membership tests, making them ideal for situations where you need to quickly check if an element exists in a collection.


**Dictionary:**

A dictionary is a collection of unordered, changeable and indexed elements. It is similar to a real-world dictionary, where a word (key) is associated with a definition (value). In Python, dictionaries are defined using curly braces `{}` and consist of key-value pairs separated by a colon `:`.

In [ ]:
# Creating dictionaries
person = {
    'name': 'S Bose',
    'age': 30,
    'city': 'Kolkata'
}

print(person)

# Accessing elements by key
print(person['city'])
print(person.get('city'))

# Adding and Updating Key-Value Pairs
person['gender'] = 'male'
print(person)

person['age'] = 31
print(person)

# Removing Key-Value Pairs
del person['age']
print(person)

person.pop('gender')
print(person)

{'name': 'S Bose', 'age': 30, 'city': 'Kolkata'}
Kolkata
Kolkata
{'name': 'S Bose', 'age': 30, 'city': 'Kolkata', 'gender': 'male'}
{'name': 'S Bose', 'age': 31, 'city': 'Kolkata', 'gender': 'male'}
{'name': 'S Bose', 'city': 'Kolkata', 'gender': 'male'}
{'name': 'S Bose', 'city': 'Kolkata'}

In [ ]:
contacts = {
    'S Bose': {'phone': '123-456-7890', 'email': 'sbose@example.com'},
    'N Islam': {'phone': '987-654-3210', 'email': 'nisl@example.com'},
    'RM Roy': {'phone': '555-555-5555', 'email': 'rmroy@example.com'}
}

print(contacts)

{'S Bose': {'phone': '123-456-7890', 'email': 'sbose@example.com'}, 'N Islam': {'phone': '987-654-3210', 'email': 'nisl@example.com'}, 'RM Roy': {'phone': '555-555-5555', 'email': 'rmroy@example.com'}}

In [ ]:

# Iterating Through Keys, Values, and Items
# To be revisited after for loops
# Keys
for key in contacts:
    print(key)

print(contacts.keys())

S Bose
N Islam
RM Roy
dict_keys(['S Bose', 'N Islam', 'RM Roy'])

In [ ]:

# Values
for value in contacts.values():
    print(value)

{'phone': '123-456-7890', 'email': 'sbose@example.com'}
{'phone': '987-654-3210', 'email': 'nisl@example.com'}
{'phone': '555-555-5555', 'email': 'rmroy@example.com'}

In [ ]:

# Key-Value Pairs
for key, value in contacts.items():
    print(f'Name: {key}, Phone: {value["phone"]}, Email: {value["email"]}')

Name: S Bose, Phone: 123-456-7890, Email: sbose@example.com
Name: N Islam, Phone: 987-654-3210, Email: nisl@example.com
Name: RM Roy, Phone: 555-555-5555, Email: rmroy@example.com

In [ ]:
# Updating items
contacts.update({'RM Roy': {'phone': '555-555-3333', 'email': 'rmroy@example.com'},
                 'IC Chatterjee': {'phone': '777-777-7777', 'email':'icc@example.com'}})
print(contacts)

{'S Bose': {'phone': '123-456-7890', 'email': 'sbose@example.com'}, 'N Islam': {'phone': '987-654-3210', 'email': 'nisl@example.com'}, 'RM Roy': {'phone': '555-555-3333', 'email': 'rmroy@example.com'}, 'IC Chatterjee': {'phone': '777-777-7777', 'email': 'icc@example.com'}}

In [ ]:
# Removing keys
contact = contacts.pop('RM Roy')
print(contact)
print(contacts)

{'phone': '555-555-3333', 'email': 'rmroy@example.com'}
{'S Bose': {'phone': '123-456-7890', 'email': 'sbose@example.com'}, 'N Islam': {'phone': '987-654-3210', 'email': 'nisl@example.com'}, 'IC Chatterjee': {'phone': '777-777-7777', 'email': 'icc@example.com'}}

In [ ]:
contact = contacts.popitem() # pops last item
print(contact)
print(contacts)

('IC Chatterjee', {'phone': '777-777-7777', 'email': 'icc@example.com'})
{'S Bose': {'phone': '123-456-7890', 'email': 'sbose@example.com'}, 'N Islam': {'phone': '987-654-3210', 'email': 'nisl@example.com'}}

In [ ]:
# Dictionary Comprehension
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Notes<br>
1. Dictionaries are ideal for situations where you need to map one value to another.
2. Dictionaries are often used for counting the occurrences of items, such as in word frequency analysis or tallying votes. Example below.

In [ ]:
text = "the new news news anchor delivered the breaking news with confidence"

word_count = {}
for word in text.split():
    word_count[word] = word_count.get(word, 0) + 1
print(word_count)

{'the': 2, 'new': 1, 'news': 3, 'anchor': 1, 'delivered': 1, 'breaking': 1, 'with': 1, 'confidence': 1}

# 4. Control Flow

**Conditional Statements:** The `if-elif-else` ladder

In [ ]:
score = 85
if score >= 80:
    print("Grade: A")
elif score >= 60:
    print("Grade: B")
elif score >= 40:
    print("Grade: C")
else:
    print("Grade: F")

Grade: A

**Loops:** `for` loop and `while` loop

In [ ]:
for i in range(5):
    print(i**2)

0
1
4
9
16

In [ ]:
i = 0
while(i<5):
    print(i**2)
    i+=1

0
1
4
9
16

**Control Statements in Loops:** `break`, `continue` and `pass`.

In [ ]:
scores = [85, 192, -1, 76, 50, 105, 89, 48, 90]

for score in scores:
    # Stop processing if an invalid score is found
    if score < 0:
        print(f"Invalid score encountered: {score}. Stopping processing.")
        break

    # Skip scores that are out of range
    if score > 100:
        print(f"Skipping out-of-range score: {score}.")
        continue

    # Do nothing for scores exactly 50
    if score == 50:
        pass  # Placeholder for future logic
        print(f"Score is exactly 50. No action taken.")
        continue

    # Process valid scores (between 0 and 100, excluding 50)
    print(f"Processing score: {score}")

Processing score: 85
Skipping out-of-range score: 192.
Invalid score encountered: -1. Stopping processing.

In [ ]:
print("Q: What is 5 x 7?")
while True:
    answer = input("A: ")
    if answer == "35":
        print("Correct!")
        break
    else:
        print("Incorrect. Try again.")

Q: What is 5 x 7?
A: 35
Correct!

## 3. Functions and Object Oriented Programming

- What is functions
- OOPS
  - class
  - constructor
  - class inheritance

### 3.1 Functions.

- Fucntions: A resuable block of code designed to perform a specific task.
  A function usually is defined in the following form -

      def name_of_function(parameters):
          body
          return (optional)

  Parameters: Parameters are values listed in the definition that act as placeholders when the function is actually called. For eg.

      def addition(a,b):
          c = a+b
          return c

  In the above example, a and b are the *parameters*

  Arguments: Arguments are the values that the function actually takes.

  When we call the functtion -

      output = addition(1,2)

  Here 1 and 2 are the arguments.

In [ ]:
# Let us define a function that determines if a number is even or odd

def even_or_odd(x):
    if x%2 == 0:
        print(f'the number {x} is even')
    else:
        print(f'the number {x} is odd')

even_or_odd(2)
even_or_odd(3)

# Note: The function doesn't return any value. Let's redefine the function.

def even_or_odd(x):
    if x%2 == 0:
        return x**2
    else:
        return x**3

print(even_or_odd(2))
print(even_or_odd(3))

the number 2 is even
the number 3 is odd
4
27

### 3.2 Object Oriented Programming(OOPS).

Object-Oriented Programming is a paradigm that organizes code around objects and their interactions. Objects combine data (attributes) and behavior (methods).

 - Key componets of OOPS:
  - Class: In python, *Class* is the abstract data type that is used as a blueprint for creatng the objects. It is used to define the attrbites(data) and the methods (operations)

  - Object: An object is defines as an instance of the class.

  - Constructor: A special method used to initialize an objectâ€™s attributes.

In [ ]:
# defining a class

class Car():
  def __init__(self, make, model, year): # Constructor
    self.make = make
    self.model = model
    self.year = year
    self.odometer_reading = 0

  def get_descriptive_name(self):
    long_name = f"{self.year} {self.make} {self.model}"
    return long_name.title()


car = Car('audi', 'a4', 2019) # defining the object
print(car.get_descriptive_name())

2019 Audi A4

### 3.2.1 Encapsulation:

Encapsulation is a technique in formation of python classes that restrcits the access of the class attributes (data) from anywhere. Under an encapsulated setting, the data is defined with `__` setting, for eg. `self.__variable = variable`. When an attribute is encapsulated, it is neither accessable nor modifiable from anywhere, unlike a standard `class` approach. Let's look at the following example.

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

Here the attribute `balance` is called a `private variable`, that is, it is not accessable from outside the class. Note, in the above setting, we have defined the attribute as `self.__balance`=balance. The use of `__` makes it a private variable. Should we define the attribute as `self.balance=balance`, it becomes a public attribute and it can be accessed outside the class. Next we will try to some operations based on the class we defined above.

In [ ]:
account = BankAccount(100)
account.deposit(50)
print(f'account balance:{account.get_balance()}')

# Let's try to access the attribute:

print(account.__balance)

account balance:150

AttributeError: 'BankAccount' object has no attribute '__balance'

Summary:

| Feature        | Standard Class | Encapsulation |
|----------------|-----------------|---------------|
| Data Access    | Public          | Private  |
| Modification  | Direct          | Controlled     |
| Security      | Less            | More           |
| Flexibility    | High            | Can be less    |

### 3.2.2. Inheritance:

Inheritance allows us to define new classes (often called subclasses/ child classes) that *inherits* the properties of the parent class.

In [ ]:
class Soccer():
  def __init__(self, name, age, position):
    self.name = name
    self.age = age
    self.position = position

  def details(self):
    print(f'the name of the player is {self.name}')
    print(f'the age of the player is {self.age}')
    print(f'the position of the player is {self.position}')

class Player(Soccer):
  def __init__(self, name, age, position, goals):
    self.name = name
    self.age = age
    self.position = position
    self.goals = goals
  def records(self):
    print(f'the name of the player is {self.name}')
    print(f'the age of the player is {self.age}')
    print(f'the position of the player is {self.position}')
    print(f'The player scored {self.goals} goals')

my_player = Player('CR7', '35', 'striker', '10')
my_player.records()

the name of the player is CR7
the age of the player is 35
the position of the player is striker
The player scored 10 goals

Concept of Super:

`super()` that allows us to call the methods of the parent class

In [ ]:
class Player(Soccer):
  def __init__(self, name, age, position, goals):
    super().__init__(name, age, position)
    self.goals = goals
  def records(self):
    print(f'the name of the player is {self.name}')
    print(f'the age of the player is {self.age}')
    print(f'the position of the player is {self.position}')
    print(f'The player scored {self.goals} goals')

my_player = Player('CR7', '35', 'striker', '10')
my_player.records()

the name of the player is CR7
the age of the player is 35
the position of the player is striker
The player scored 10 goals

###Â 3.2.3 Polymorphism:

Polymorphism, like inheritance and encapsulation, is a core concept in object-oriented programming. It essentially means "many forms." In programming, polymorphism allows objects of different classes to be treated as objects of a common type. This lets you write code that can work with a variety of objects without needing to know their exact class.

In [ ]:
class Bird:
    def speak(self):
        return "Chirp"

class Cat:
    def speak(self):
        return "Meow"

def make_sound(animal):
    print(animal.speak())

make_sound(Bird())  # Output: Chirp
make_sound(Cat())   # Output: Meow

Chirp
Meow

## 4. A quick tour to pandas

## 5. Project